<ion-view view-title="{{inmueble.nombre}}" class="project-detail">

  <ion-nav-bar class="bar-special bar-clear">
    <ion-nav-back-button class="button back-button buttons button-light__ button-clear header-item">Volver</ion-nav-back-button>

    <ion-nav-buttons side="secondary">
      <button class="button button-clear icon-right button-icon icon ion-ios-star-outline button-energized" ng-click="addFavorito()"></button>

      <button class="button button-clear icon-right button-icon icon ion-ios-star button-energized" ng-click="removeFavorito()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header" style="top:0;">

    <div class="header-slideshow-wrapper">

      <hgroup class="header-overlay">
        <h5> Dueño {{inmueble.cliente.nombre}}</h5>
      </hgroup>

      <!-- <button class="button-download-report button button-clear icon-right button-icon icon ion-ios-cloud-download-outline" ng-click="downloadReport()"></button> -->

      <div class="header-slideshow-shadow"></div>
      <div class="header-slideshow-image" ng-if="inmueble.imagen" ng-style="{'background-image' : 'url({{inmueble.imagen}})'}"></div>
    </div>

    <ion-scroll class="padding" style="height: 448px">
      <h3>{{inmueble.nombre}}</h3>
      <div class="list">
        <div class="item item-divider">
          Datos del Inmueble
        </div>
        <div class="item">
          <span class="item-note">Tipo</span> {{inmueble.tipo.Nombre}}
        </div>
        <div class="item">
          <span class="item-note">Dormitorios</span> {{inmueble.cantDormitorios}}
        </div>
        <div class="item">
          <span class="item-note">Ba&ntilde;os</span> {{inmueble.cantBanos}}
        </div>
        <div class="item">
          <span class="item-note">Metros totales</span> {{inmueble.metrosTotales}}
        </div>

        <div class="item item-divider">
          Datos del Cliente
        </div>
        <div class="item">
          <span class="item-note">Telefono</span> {{inmueble.cliente.telefono}}
        </div>
        <div class="item">
          <span class="item-note">Email</span> {{inmueble.cliente.email}}
        </div>
      </div>
    </ion-scroll>

  </ion-content>

</ion-view>
