<ion-view view-title="Favoritos" class="locations-list">

  <ion-nav-bar class="bar bar-dark bar-special" >
    <ion-nav-back-button class="button back-button buttons button-light__ button-clear header-item">Volver</ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="has-header" scroll="false">

    <div class="item item-input-inset item-dark">
      <label class="item-input-wrapper">
        <input type="text" placeholder="buscar propiedades..." ng-model="filterModel">
      </label>
      <button class="button button-small button-clear button-clear" ng-click="filterModel='';">borrar</button>
    </div>

    <ion-scroll style="height:100%;">

      <ion-list>

        <ion-item
          class="item item-thumbnail-left item-icon-right"
          ng-repeat="inmueble in inmuebles | filter:filterModel"
          ui-sref="locations.detail({id:inmueble.id})" >

            <img ng-src="{{inmueble.imagen}}">
            <h2>{{inmueble.nombre}}</h2>
            <p>Tipo {{inmueble.tipo.Nombre}}</p>
            <p>Dueño {{inmueble.cliente.nombre}}</p>

            <button class="button-clear" style="top:41px;right:10px;position:absolute;">
              <i class="icon ion-chevron-right"></i>
            </button>

        </ion-item>

      </ion-list>

    </ion-scroll>

  </ion-content>

</ion-view>
