<ion-view view-title="Propiedades" hide-back-button="true">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear icon-left icon button-icon ion-ios-bookmarks-outline" ng-click="viewAllFavs()"></button>
    <button class="button button-clear icon-right icon button-icon ion-ios-list-outline" ng-click="viewAllProjects()"></button>
  </ion-nav-buttons>

  <ion-content class="has-header" scroll="false" >

    <div class="map-wrapper">
      <!-- this initial coordinates corresponds to the WeWork HQ -->
      <map
        on-create           = "mapCreated(map)"
        center-on-latitude  = "-34.909800499999996"
        center-on-longitude = "-56.151202899999994"
        zoom                = "13"
      ></map>
    </div>

    <div class="map-scroller">
      <ion-scroll>
        <ion-list>
          <ion-item
            class="item"
            ng-repeat="inmueble in inmuebles"
            ui-sref="locations.detail({ id : inmueble.id })" >

            {{inmueble.nombre}}

            <button class="button-clear" style="right:10px;position:absolute;">
              <i class="icon ion-chevron-right"></i>
            </button>
          </ion-item>
        <ion-list>
      </ion-scroll>
    </div>



  </ion-content>

</ion-view>
