<ion-view view-title="Welcome">

  <ion-view hide-nav-bar="true">

  <ion-content style="height:100%;">

    <div class="text-center" style="position:relative;;height:82%;">
      <img src="img/login-bg.jpg" alt="" style="width:100%;margin-bottom:-6px;"/>
      <h5 style="letter-spacing:2px;margin-top:15px;margin-bottom: 12px;">Bienvenido a <span style="color:#edad49;">QuieroCasa.com.uy</span></h5>
      <h5 style="border-bottom:3px solid black;width: 20px;margin:0 auto 15px auto;"></h5>
      <p class="padding" style="color: #888;">Inicie sesion para empezar a buscar las propiedades a su gusto</p>

      <div class="button-group padding" style="bottom:-115px;position:absolute;width:100%;">
        <button ng-click="login()" class="button button-energized button-block" style="margin: 0;">Iniciar Sesion</button>
      </div>

    </div>

  </ion-content>

</ion-view>
